<h3>VerbTable</h3>
<h2>Verb Table: Siarad</h2>

<div class="card rounded-3 d-inline-block p-0">
    <table class="table table-bordered table-striped m-0 w-auto" style="table-layout: auto">
        <thead>
            <tr>
                <th style="white-space: nowrap">Subject Pronoun<br />(English)</th>
                <th style="white-space: nowrap">Subject Pronoun<br />(Welsh)</th>
                <th style="min-width: 200px">Conjugated Verb</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var something in myListy)
            {
                <tr>
                    <td>I</td>
                    <td>Fi/I</td>
                    <td>Dw i'n @Verb</td>
                </tr>
            }
            <tr>
                <td>You <br />(informal/singular)</td>
                <td>Ti</td>
                <td>Rwyt ti'n @Verb</td>
            </tr>
            <tr>
                <td>He/It</td>
                <td>E/Fe</td>
                <td>Mae e'n @Verb</td>
            </tr>
            <tr>
                <td>She/It</td>
                <td>Hi</td>
                <td>Mae hi'n @Verb</td>
            </tr>
            <tr>
                <td>We</td>
                <td>Ni</td>
                <td>Rydyn ni'n @Verb</td>
            </tr>
            <tr>
                <td>You <br />(formal/plural)</td>
                <td>Chi</td>
                <td>Rydych chi'n @Verb</td>
            </tr>
            <tr>
                <td>They</td>
                <td>Nhw</td>
                <td>Maen nhw'n @Verb</td>
            </tr>
        </tbody>
    </table>
</div>
